@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins;
  font-size: 1.1rem;
  font-weight: 600;
}
.containergame {
  display: flex;
  width: 100%;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  
}
img {
  width: 3rem;
  height: 3rem;
}
.game {
  /* max-width: fit-content; */
  width: 70%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
}
.quit{
  background: purple;
  color: #c6b3cb;
  padding: .5rem ;
}

.box {
  text-align: center;

  border: 1px solid #7c1c0c;
}
.box_content {
  text-align: center;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
#sit1,
#sit13 {
  background-color: #762b99;
}
#sit2,
#sit12 {
  background-color: #401e84;
}
#sit3,
#sit11 {
  background-color: #762b99;;
}
#sit4,
#sit10 {
  background-color: #401e84;
}
#sit5,
#sit9 {
  background-color: #401e84;
}
#sit8,
#sit7 {
  background-color: #762b99;;
}
#sit6 {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background: #d8b4fe;
}
#opt1,
#opt2,
#opt3 {
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: 20px;
  border: 2px solid #7c1c0c;
  transition: 0.5s;
}
#opt1:hover,
#opt2:hover,
#opt3:hover {
  transform: scale(1.2);
  background-color: #7c1c0c;
  color: ghostwhite;
}
.inc_statement {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
h1 {
  font-size: 2rem;
}
/* .ins_block {
  width: 70%;
  height: 30%;

} */
.ins_block,
.asset_block,
.liab_block {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 26px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #d8b4fe;
  border: 0.1px solid #040f16;
  border-radius: 10px;
  text-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2rem 0;
}
.ass_liab {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.asset_block,
.liab_block {
  justify-content: space-around;
}
.content_div {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  text-align: center;
  font-size: 1rem;
}
.content_div1,
.content_div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.labels, .values{
  font-size: .7rem;
  padding: 0 1rem;
}
.create-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.create-modal-content {
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 5px 40px;
  width: 40vw;
  height: 40vh;
  /* background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  /*  padding: 20px;
  border: 1px solid #888;
  width: 80%;  */ /* Could be more or less, depending on screen size */
}

#createmodal-inp-text {
  margin-top: 30px;
  width: 100%;
  height: 2.3rem;
  border: none;
  padding-left: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  font-size: 1.1rem;
  color: rgb(160, 57, 57);
}
#createmodal-savebtn,
.createmodal-cancel {
  background-color: white;
  height: 3rem;
  width: 5rem;
  top: 150px;
  border: none;
  border-radius: 20px;
  font-weight: 400;
  position: absolute;
}
#createmodal-savebtn {
  right: 140px;
}
.createmodal-cancel {
  right: 30px;
}
::placeholder {
  font-weight: 500;
  color: #a1402f;
}
.goti {
  display: none;
}
#goti1 {
  display: block;
}
.congo-modal {
  position: absolute;
  display: none;
  border-radius: 1rem;
  left: 20%;
  top:5%;
  text-align: center;
  padding: 1rem;
  
}
#congoBox h1 {
  text-align: center;
  color: ghostwhite;
  width: 100%;
  margin-top: 6rem;
}

#menu1, #menu2{
  position: absolute;
  top: 5%;
  right: 5%;
  display: none;
  justify-content: center;
  align-items: center;
  background: #b641d3;
  border-radius: 5px;
  
}
hr{
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 4px;
  background: purple;
}




@media screen and (max-width: 980px) {
  .game{
    width: 100%;
  }
  
  .inc_statement {
    position: absolute;
    right: -50%;
    top: 0;
    bottom: 0;
    background: pink;
    z-index: 500;
    transition: 0.5s ease-in-out;
    display: grid;
    place-content: center;
    
  }
  .congo-modal {
    
    left: 30%;
    
    
    
  }
  
  .inc_statement h1{
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  #menu1{
    display: flex;
  }
  #menu2{
    display: flex;
  }
  .active{
    right: 0;
    width:70%;
  }
  
}

@media screen and (max-width: 690px) {
  #sit6 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    /* background: #d8b4fe; */
}

.ins_block,
.asset_block,
.liab_block {
  font-size: .9rem !important;
}
.congo-modal {
  left: 20%;

  
}
#sit11, #sit12, #sit13, #sit10 {
  display: none;
}
  
}
@media screen and (max-width: 480px) {
  .inc_statement {
    right: -70%;
  }

  .inc_statement h1{
    font-size: 1.1rem;
  }

  .congo-modal {
    top: 30%;

    
  }

  .active{
    right: 0;
    width:90%;
  }
  h1{
    font-size: 1.1rem;
  }
  
  .create-modal-content{
    width: fit-content;
    
  }
}